#/-------------------- Configurações do Servidor --------------------/#
NODE_ENV=
PORT=
BACKEND_URL=http://localhost
TRUST_PROXY= #Caso não tenha proxy, pode deixar em branco, comentar ou colocar false
#https://www.lastpass.com/pt/features/password-generator
TOKEN_KEY= #Recomendado 32 caracteres, sem caracteres especiais, apenas letras e números. Exemplo: 1234567890qwertyuiopasdfghjklzxcvbnm

#/-------------------- Configurações do Banco de Dados --------------------/#
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=